
bvh_assembler/room.obj

bvh_assembler/bvh_leaf_triangles.txt

rust_rt_arch_sim/bvh_data/bvh_nodes.txt

rust_rt_arch_sim/bvh_data/bvh_triangles.txt
scene.txt
assembler/rust_assembler_mimd/src/initialize_core.txt
assembler/rust_assembler_mimd/src/branch_core_code.txt
assembler/rust_assembler_mimd/src/leaf_core_code.txt
bvh_assembler/bvh2.txt
rust_rt_arch_sim/src/backup_run.log
rust_rt_arch_sim/src/bvh_leaves.txt
rust_rt_arch_sim/src/bvh_nodes.txt
rust_rt_arch_sim/src/bvh_triangles.txt
rust_rt_arch_sim/src/run.log
rust_rt_arch_sim/src/auto_gen_code.rs
assembler/rust_assembler_mimd/src/branch_core_code.txt
assembler/rust_assembler_mimd/src/initialize_core.txt
assembler/rust_assembler_mimd/src/leaf_core_code.txt

# IDE cache
.vs/
.vscode/

# C++ build artifacts
bvh_assembler/*.exe
bvh_assembler/*.obj

# Scratch/experiment output folders
rust_rt_arch_sim/alt/
rust_rt_arch_sim/backup/
bvh_assembler/prev_outs/
bvh_assembler/grid/
